{#
| Variable | Type | Description |
|--------------------------------|----------|------------------------------------------------------------------------------|
| component | object | Contains merchant settings for fields from twilight.json `component` section |
| component.slides[].image | string | Image url |
| component.slides[].title | ?string | |
| component.slides[].description | ?string | |
| component.slides | object[] | list of slides |
| position | int | Sorting number start from zero |
#}
<section class="s-block s-block--hero-slider s-block--full-bg wide-placeholder">
    <salla-slider id="main-slider-{{ position }}" auto-play slider-config='{
        "lazy": "false",
        "autoplay": {
          "delay": 3000,
          "disableOnInteraction": false
        },
        "navigation": false,
        "pagination": false
      }' type="fullwidth">
        <div slot="items">
            {% for slide in component.slides %}
            <div class="swiper-slide w-full min-h-[300px] lg:min-h-[528px] bg-dark relative">
                <div style="background-image: url({{ slide.image }});"
                    class="absolute inset-0 bg-center bg-cover overlay-bg"></div>

                {# <div class="container relative h-full pb-16 flex-center sm:pb-0 home-slider__content">
                    <div class="w-4/6 text-center text-white md:w-7/12 lg:w-5/12">
                        <h2 class="mb-4 font-bold leading-tight lg:text-title-size">{{ slide.title }}</h2>
                        <p class="line-clamp-2 description">{{ slide.description }}</p>
                    </div>
                </div> #}
            </div>
            {% endfor %}
        </div>
    </salla-slider>
</section>